<div class="d-flex justify-content-center" id="main-holder">
    <form id="login-form">
          <h2>Login</h2>
          <br>
          <input type="text"  id="username-input-login" class="login-form-field" placeholder="Username"/>
          <input type="password" id="password-input-login" class="login-form-field" placeholder="Password"/>
        <button type="submit" id="login-btn" class="btn">Login</button>
        <br>
        <a type="button" href="/signup">Sing up instead</a>
    </form>
</div>

<script scr="/js/login.js">